namespace: icon
cloudProvider: aws


sidecar:
  image:
    repo: geometrylabs/icon-node-health-sidecar
    tag: v0.0.1
  variance: 25
  checkInterval: 5

node:
  image:
    repo: iconloop/icon2-node
    tag: v1.1.3
  ports:
    p2p: 7100
    rpc: 9000
  # https://github.com/icon-project/icon2-docker#docker-environments-settings
  seeds: seed-ctz.solidwallet.io:7100
  role: 0 # preps = 3, citizen = 0
  service: "MainNet" # MainNet, SeJong
  isAutogenCert: true
  fastestStart: true
  checkTimeout: 10
  checkPeerStack: 6
  checkBlockStack: 10
  checkInterval: 10
  checkStackLimit: 360
  goloopLogLevel: debug
  logOutputType: file
  ntpServer: ""
  ntpRefreshTime: 360
#  useSlack: no
#  slackURL: ""
#  slackPrefix: ""

deployment:
  replicas: 1
  annotations: null
  tolerations: []
  resources: {}
#  requests:
#    memory: "5Gi"
#    cpu: "1.5"
  storage:
    storageClassName: ebs-sc
    dataSize: 480Gi
    accessModes: [ "ReadWriteOnce" ]
    selectorLabels: {}

  nodeSelector: null
  nodeName: null

service:
  rpc:
    type: NodePort
  p2p:
    type: NodePort